<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <?!= HtmlService.createHtmlOutputFromFile('static/css').getContent(); ?>
  </head>
  <body>
     <?!= HtmlService.createHtmlOutputFromFile('template/component/header').getContent(); ?>
      <main class="ui container ">
        <h2 class="">アカウント</h2>
        <div class="ui cards ">
          <div class="card">
            <div class="content">
              <div class="header">
                Elliot Fu
              </div>
              <div class="meta">
                Friends of Veronika
              </div>
              <div class="description">
                Elliot requested permission to view your contact details
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Decline</div>
              </div>
            </div>
          </div>
        </div>
      </main>
    <?!= HtmlService.createHtmlOutputFromFile('static/js').getContent(); ?>
  </body>
</html>
